<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cnbi.zhaiwei.autocalibration.dao.AutoInsertMapper">
    <insert id="insertDimensionField" parameterType="cnbi.zhaiwei.autocalibration.pojo.Compose">
        insert into ${update}(SFACTFIELD,SDIMTABLE,SDIMFIELD,SNAME,CTYPE,SUBJECT,CISCOMPANY,NSORT)values(#{compose.factField},
        #{compose.dimTable},#{compose.dimField},#{compose.name},#{compose.type},#{compose.subject},#{compose.C_IS_COMPANY},#{compose.SORT})
    </insert>

    <select id="queryFactTableField" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT b.COLUMN_NAME,c.COMMENTS FROM user_tables a left join user_tab_columns b on
        a.TABLE_NAME=b.TABLE_NAME left join user_col_comments c on a.TABLE_NAME=c.TABLE_NAME
        and b.COLUMN_NAME=c.COLUMN_NAME WHERE a.TABLE_NAME=#{table} and c.COMMENTS is not null
    </select>

<!--    <select id="queryFactTableName" resultType="java.lang.String" parameterType="java.lang.String">-->
<!--        select distinct a.TABLE_NAME from user_tables a left join user_tab_columns b on a.TABLE_NAME=b.TABLE_NAME-->
<!--        left join user_col_comments c on a.TABLE_NAME=c.TABLE_NAME and b.COLUMN_NAME=c.COLUMN_NAME-->
<!--        and c.COMMENTS is not null where a.TABLE_NAME like #{tablename}-->
<!--    </select>-->

    <select id="querySubjectCode" parameterType="java.lang.String" resultType="java.lang.String">
        select scode from dw_subject where SFACTTABLE = #{table}
    </select>

    <select id="queryComposeTableData" parameterType="java.lang.String" resultType="java.lang.String">
        select SFACTFIELD from ${update} where SUBJECT = #{subject}
    </select>

    <select id="queryTableExist" parameterType="java.lang.String" resultType="java.lang.String">
        select table_name from user_tables t where table_name= upper(#{table})
    </select>

</mapper>